[Desktop Entry]
Version=1.0
Type=Application
Name=Gram
GenericName=Text Editor
Comment=A code editor for humanoid apes and grumpy toads
TryExec=gram
StartupNotify=true
Exec=gram %U
Icon=app.liten.Gram
Categories=Development;TextEditor;IDE;
Keywords=gram;
# To add Gram to "Open Folder With..." context menu, add `inode/directory` to the MimeType field (semicolon separated)
# Arch linux users have reported this setting Gram as default file browser. See https://github.com/zed-industries/zed/pull/39076 and related issues.
# If this happens to you, an unconfirmed fix may be to install Arch's `gnome-defaults-list` package.
MimeType=text/plain;application/x-zerosize;x-scheme-handler/gram;
Actions=NewWorkspace;
StartupWMClass=app.liten.Gram

[Desktop Action NewWorkspace]
Exec=gram --new %U
Name=Open a new workspace
